<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjXNMAUSdIXYTlVSskNWTIqFqz0wLmst8</string>
	<key>GCM_SENDER_ID</key>
	<string>113210877755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sage.kolli</string>
	<key>PROJECT_ID</key>
	<string>sage-6ea31</string>
	<key>STORAGE_BUCKET</key>
	<string>sage-6ea31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113210877755:ios:11ce1ce94f7d8bf253391e</string>
</dict>
</plist>